<h1 class="text-center my-4">ADM - Detalhes da Conta do Usuário</h1>

<div class="container py-5">

    <div class="card mx-auto" style="max-width: 800px;">
        <div class="card-body text-center">
            <img src="/public/img/user-default-125.png" alt="Foto de Perfil" class="rounded-circle mb-3" width="125" height="125"
                style="object-fit: cover;" />
            <h3 class="card-title mb-3">{{usuario.nome_usuario}}</h3>
            <p class="card-text">ID: {{usuario.ID_usuario}}</p>
            <p class="card-text">Email: {{usuario.email_usuario}}</p>
            <p class="card-text">Telefone: {{usuario.telefone_usuario}}</p>
            <p class="card-text">Apelido: {{usuario.apelido_usuario}}</p>
            <p class="card-text">Data de Nascimento: {{usuario.data_nascimento}}</p>
            <p class="card-text">Gênero: {{usuario.genero_usuario}}</p>
            <p class="card-text">Status: {{usuario.status_usuario}}</p>
            <p class="card-text">Tipo de Usuário: {{usuario.tipo_usuario}}</p>
            <p class="card-text">Data de Cadastro: {{usuario.data_cadastro}}</p>
            <p class="card-text">Último Acesso: {{usuario.ultimo_acesso}}</p>
        </div>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-primary mb-2"
            onclick="window.location.href='/admin/usuarios/detalhes/{{usuario.ID_usuario}}/editar'">Editar Usuário</button>
        <button class="btn btn-secondary" onclick="window.location.href='/admin/usuarios'">Voltar à Lista</button>
    </div>
</div>