<div class="container py-5">
    <h2 class="mb-4 text-center">Editar Perfil de Usuário</h2>

    <form id="formEditarUsuario" class="mx-auto" style="max-width: 500px;">
        <div class="form-group text-center">
            <label for="fotoPerfil">Foto de Perfil</label>
            <div>
                <img id="previewFoto" src="/static/images/user-default-img.png" alt="Foto de Perfil"
                    class="rounded-circle mb-6" width="50" height="50" style="object-fit: cover;" />
            </div>
            <input type="file" class="form-control-file" id="fotoPerfil" accept="image/*" />
        </div>
        <div class="form-group">
            <label for="nome">Nome completo</label>
            <input type="text" class="form-control" id="nome" required placeholder="{{usuario.nome_usuario}}"/>
        </div>
        <div class="form-group">
            <label for="apelido">Apelido (nickname)</label>
            <input type="text" class="form-control" id="apelido" required placeholder="{{usuario.apelido_usuario}}" />
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" disabled/ placeholder="{{usuario.email_usuario}}" />
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="tel" class="form-control" id="telefone" placeholder="{{usuario.telefone_usuario}}" maxlength="15" />
        </div>
        <div class="form-group">
            <label for="senha">Nova senha (opcional)</label>
            <div class="input-group">
                <input type="password" class="form-control" id="senha" placeholder="{{usuario.senha_usuario}}" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="toggleSenha">👁️</button>
                </div>
            </div>
            <small id="forcaSenha" class="form-text mt-1 font-weight-bold text-muted">Digite sua nova senha</small>
        </div>
        <div class="form-group">
            <label for="confirmaSenha">Confirmar nova senha</label>
            <input type="password" class="form-control" id="confirmaSenha" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-4">Salvar Alterações</button>
    </form>

    <div class="text-center mt-3">
        <a href="/hub" class="text-secondary">← Voltar ao Painel</a>