<h1>Conheça nossos jogos</h1>

{{#if jogos.length}}
    <ul class="list-group">
        {{#each jogos}}
            <li class="list-group-item">
                <a href="/{{this.url_jogo}}" id="link-do-jogo"><h5>{{this.nome_jogo}}</h5></a>
                <img src="/img/{{this.url_thumbnail_jogo}}" alt="{{this.nome_jogo}}" class="img-fluid mb-2" style="max-width: 200px; height: auto;">
                <p><strong>Gênero:</strong> {{this.genero}}</p>
                <p><strong>Plataforma:</strong> {{this.plataforma}}</p>
                <p><strong>Lançamento:</strong> {{this.data_lancamento}}</p>
                <a href="/jogos/{{this.ID_jogo}}" class="btn btn-primary">Ver mais</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p class="text-warning">Nenhum jogo encontrado.</p>
{{/if}}