<h1 class="text-center my-4">Lista de Usuarios</h1>

{{#if usuarios.length}}
{{#each usuarios}}
<div class="card-body">
    <h5 class="card-title">ID de usuário: {{this.ID_usuario}}</h5>
    <p class="card-text"><strong>Nome:</strong> {{this.nome_usuario}}</p>
    <p class="card-text"><strong>Email:</strong> {{this.email_usuario}}</p>
    <p class="card-text"><strong>Tipo:</strong> {{this.tipo_usuario}}</p>
</div>
<button class="btn btn-secondary mb-2" onclick="window.location.href='/admin/usuarios/detalhes/:id{{this.ID_usuario}}'">Detalhes</button>

{{/each}}
<div class="card-footer text-muted">
    <p>Total de usuarios: {{usuarios.length}}</p>
    <button class="btn btn-secondary mb-2" onclick="window.location.href='/dashboard'">Voltar</button>
</div>
{{!-- {{else if usuarios.error}}
<p class="text-danger">Erro ao carregar os dados de usuarios: {{usuarios.error}}</p>
{{else if usuarios.length === 0}}
<p class="text-warning">Nenhum usuario encontrado.</p> --}}
{{else}}
<p>Sem dados de usuarios disponíveis no momento.</p>
{{/if}}